[2017-05-27 06:40] wuqiangch opened #1 "Have you work out the code of deep speaker?"

[2017-05-27 15:04] philipperemy commented on #1
@wuqiangch still working on it! Some points are not very clear in the implementation!

[2017-06-14 02:52] #1 closed

[2017-07-24 03:13] wuqiangch opened #2 "LibriSpeech dataset with 5000+ different speakers？"
Only about 2500 different speakers.

[2017-07-24 04:28] philipperemy commented on #2
Yes thanks for pointing out.

2500 is more correct.

http://kaldi-asr.org/doc/examples.html

[2017-07-24 04:28] #2 closed

[2017-09-26 14:18] ad349 opened #3 "How usable is the source code as of now ?"
Can a speaker verification model be trained now ?

[2017-09-27 09:13] ad349 opened #4 "Why is the audio truncated to max 1 seconds in next_batch.py ?"

[2017-09-29 08:18] mshenron opened #5 "frame normalisation gives nan in case of long silence"
def normalize_frames(m):
    return [(v - np.mean(v)) / np.std(v) for v in m]

as std(v) is zeros in case of long silence

[2017-10-13 18:59] yunbin opened #6 "Will the code run on a single GPU?"
I am trying the coding on a single GPU with 2G memory and it gives out of memory error.

[2017-10-17 15:10] shubham-iitg-ece opened #7 "Training_loss = NaN of deep speaker!"
While training the model, during 231st batch, training loss = 0.10000002384185791, but next batch onwards training loss = NaN. What could be possible reason for this? What is the fix for this problem. It doesn't seem to me as problem of divergence, since training loss has abruptly changed from 0.1 to NaN. Some clarifications please.

[2017-10-20 04:43] jageshmaharjan commented on #7
@shubhamaryan , I had the same problem. may be we should try to change the hyper parameters. such as learning rate. or try using different optimization algorithms, such as  "sgd, momentum, rms", however the best one is "adam (adaptive momentum)" [used here].

If u figure it out let me know as well.

[2017-10-20 12:43] shubhamaryan commented on #7
If it would be a problem of learning rate or optimizer, then training loss would have diverged gradually from 0.1. Secondly, there is no problem with input as well, since I have matched the log file and audio dataset and all those files exist. Hence, I am not able to conclude any further what the problem may be. If we could get some help from the developer?

[2017-10-21 01:48] philipperemy commented on #6
Yes you need at least 8GB of memory! Code is still very alpha.

[2017-10-21 01:48] #6 closed

[2017-10-21 01:49] philipperemy commented on #7
@shubhamaryan for now the implementation is not clearly operational. It's still a bit buggy. Especially it's very hard to train a triplet loss. I'm thinking of doing some pre-training like what they did in the paper.

[2017-10-21 01:49] philipperemy commented on #7
Your contributions are very welcome guys @shubhamaryan @jageshmaharjan !

[2017-10-21 01:50] philipperemy commented on #4
@ad349 the code is very very alpha. It's not working correctly now! I did that to test for debugging purposes. I'd be very happy if you can contribute @ad349 :)

[2017-10-21 01:50] philipperemy commented on #3
@ad349 code is not usable yet. It needs to be improved. This deep speaker stuff is actually pretty hard to implement.

[2017-10-21 01:51] philipperemy commented on #5
@mshenron yes I think we need to reconsider this normalisation. In the paper they don't say what they used. If you have any ideas, please contribute :)

[2017-10-23 05:20] mshenron commented on #5
normalisation is giving better learning curve just change the normalisation function to

def normalize_frames(m,epsilon=1e-12):
    return [(v - np.mean(v)) / max(np.std(v),epsilon) for v in m]

[2017-10-30 16:46] shubhamaryan commented on #5
This paper "Batch Normalization: Accelerating Deep Network Training by Reducing Internal Covariate Shift" suggests to do batch normalization as follows:

epsilon = 1e-12
def normalize_frames(m):
    return [(v - np.mean(v)) / np.sqrt(np.var(v)+epsilon) for v in m]

[2017-10-30 16:51] shubhamaryan commented on #4
@ad349 @philipperemy All the audio samples are of variable length ranging from 1 second to 15-20 seconds. Hence, doing truncation justifies it or not?

[2017-10-30 17:01] shubhamaryan commented on #7
@philipperemy @jageshmaharjan

I changed the learning rate of Adam optimizer to 0.01 from the default value of 0.001 & regularization strength λ = 0.001, in the code, it is used as 0.0001. I also increased the sampling rate to around 1200.

Initially, we were encountering a NaN training loss after around 230 batches. By doing above modification, I  extended training till 400 batches. I stopped the

[2017-10-31 13:47] philipperemy commented on #7
@shubhamaryan Thanks.
But do you think we can have something meaningful?
I fear that the triplet loss is very hard to optimize and requires pre-training on a supervised learning.
In the paper they did something similar.

[2017-10-31 13:48] philipperemy commented on #4
@shubhamaryan I think it's justified to truncate somehow because you want all of them to have the same NUM_FRAMES. We can for example select 8 seconds.
For the ones less than 8 seconds, we pad them with 0 (silence).
For the ones more than 8 seconds, we truncate them.

[2017-10-31 13:49] philipperemy commented on #5
@shubhamaryan thanks! Very helpful comments guys! I'll prepare a PR.

[2017-11-16 05:04] weedwind opened #9 "Did you observe that the loss was stuck at the margin?"
Hi, as mentioned in the title, I am also implementing deep speaker, using the same data as you used. I am wondering was your triplet loss able to get smaller than the margin value? It seems mine was stuck at the margin.

[2017-11-21 01:07] philipperemy commented on #9
Yes this implementation is not yet functional. I think it's pretty hard to train a triplet loss.
I guess we have to go through supervised learning and train the network first.
Then, use those pre-trained weights and train the triplet loss.

[2017-11-21 01:14] philipperemy commented on #5
Fixed

[2017-11-21 01:14] #5 closed

[2017-12-03 01:50] philipperemy commented on #9
@weedwind do you have some ideas on how to fix this?

[2017-12-04 15:51] daniel-sc commented on #9
Hi everyone,
I'm not sure, if I'm correct, but it seems to me that the loss function is not really correct here. I tried to fix it - see https://github.com/philipperemy/deep-speaker/compare/master...daniel-sc:fixing_loss_function
But with this, the loss only declines only very little on training..

[2017-12-05 01:41] philipperemy commented on #9
Thank you very much @daniel-sc !

I'm going to have a look at your code.

I'm not surprised that the loss only declines very little during training, if the dataset is truncated and if the samples are limited to only one second.

Have you tried training on the full dataset?

[2017-12-05 09:36] daniel-sc commented on #9
Just realized that my new loss is wrong as well - must not collapse the vector to a scalar and replace square by sqrt in norm function - will update in the next days..

[2017-12-05 13:23] philipperemy commented on #9
@daniel-sc ok got it! Looking forward to your new code!

[2017-12-06 21:28] daniel-sc commented on #9
@philipperemy I created #12 with an additional commit, so the loss function should be correct there. But please double check it!

[2017-12-07 03:12] linhdvu14 commented on #9
@daniel-sc  Did your "deep speaker paper is wrong here, see e.g. face net paper" comment refer to FaceNet paper eq. (3) vs. Deep Speaker paper eq. (6)?

If I'm reading correctly, sap/nap in Deep Speaker refers to cosine similarity while ||f(x^a) - f(x^p)|| / ||f(x^a) - f(x^n)|| refers to distance (i.e. dissimilarity). The equations are different interpretations of the same core idea, it seems.

Pl

[2017-12-07 13:33] philipperemy commented on #9
@daniel-sc thanks I'll check it tomorrow!

[2017-12-11 06:45] linhdvu14 opened #13 "Trained model produces near-identical outputs for different inputs?"
As title. I noticed the trained model produces near-identical embeddings for different input audios (even randomly generated values). Is anyone having this issue?

If it helps, I'm training with
- LibriSpeech dev-clean dataset: http://www.openslr.org/12/
- SAMPLE_RATE = 16000
- BATCH_NUM_TRIPLETS = 21
- TRUNCATE_SOUND_FIRST_SECONDS = 3
- Loss = 0.10225 when I stopped training

I've tried a few dif

[2017-12-12 10:07] philipperemy commented on #9
Should be fixed with https://github.com/philipperemy/deep-speaker/pull/12

[2017-12-12 10:07] #9 closed

[2017-12-12 10:08] philipperemy commented on #13
Yeah the loss function was wrong.

it got updated a few minutes ago.

Should be fixed with https://github.com/philipperemy/deep-speaker/pull/12

Can you check?

[2017-12-13 03:36] mengxingzhi commented on #7
stub_targets = np.random.uniform(size=(x.shape[0], 1)), why is the label is selected randomly? Shouldn't it to be the true label of the speech?

[2017-12-14 06:38] linhdvu14 commented on #13
Thanks. With the latest code, training loss doesn't appear to converge even after 1100 iterations. Any pointers why that might be?

![untitled](https://user-images.githubusercontent.com/13968867/33978713-a297887c-e0d3-11e7-9f08-937f41ea30be.png)

[2017-12-14 06:40] philipperemy commented on #13
@linhdvu14 yes I think we are truncating samples to only one second so it's impossible to make the difference between speakers. I guess the next step would be to use only 3 different speakers and try it again.

[2017-12-14 06:45] linhdvu14 commented on #7
Speech label is not used in triplet loss computation. All that's needed is triplets of (anchor, positive, negative) embeddings, all of which are contained in x. stub_targets is only there to conform to API requirement.

[2017-12-14 06:57] linhdvu14 commented on #13
Thanks, will do! Some (somewhat tangential) questions, if you don't mind:
- Deep Speaker section 3.1.1 uses batch normalization between each convolution and relu. Why do we only use BN within the ResBlocks, but not between conv[xx]-s layer and res[xx] layer?
- Triplets are currently randomly selected. Do you have plans to implement more efficient triplet mining algorithms?

[2017-12-14 08:31] philipperemy commented on #13
@linhdvu14

- I missed this point! Yes please update the model code :)
- No plans for now. The goal is more to make it work nicely before implementing more efficient triplet mining algorithms.

Very happy and looking forward to seeing your future contributions!

[2017-12-16 13:02] mengxingzhi commented on #7
@linhdvu14 thank you for your answer. I come up with another two problems: the config of my server is 12g, but  the batchsize can't be bigger than 3. Also my loss is over 70, can't be convergent. waiting for guidance, thank you!

[2018-03-09 14:48] nathanquinteiro commented on #13
Is this repo still active? And has this problem been resolved?
I have run the model training with the latest code on my environment with GPUs and still observe the problem of near-identical embeddings for different inputs.

The loss converges to (BATCH_SIZE * alpha)

Thanks for your help, best regards, Nathan

[2018-03-10 02:41] philipperemy commented on #13
@nathanquinteiro I haven't had much time to have a look at the repo recently.

I think to solve the problem of near-identical embeddings for different inputs, it's required to train using supervised learning (like they do in the paper), then apply the methodology used in this repo.

If you want to help, I'd be more than happy to merge your pull requests!

Thanks!

[2018-03-19 08:41] suyuzhang commented on #13
@linhdvu14  @philipperemy  Why I change TRUNCATE_SOUND_SECONDS = (0.5, 3.5) always get this error: Error when checking model input?
I think this error is input the different shape. How can I fix it?

Thanks for your help, best regards, Suyu

[2018-03-19 09:11] suyuzhang commented on #13
@linhdvu14  @philipperemy  Why I change TRUNCATE_SOUND_SECONDS = (0.5, 2.5) always get this error: Error when checking model input. I think this error is input shapes are different. How can I fix it?

Thanks for your help!  best regards, Suyu

[2018-04-11 08:51] Curisan commented on #13
Hello. With the latest code, I implement hard negatives from the same batch for each iteration just as they did in the section 3.3. This seems to help convergence.
![image_hard_negative](https://user-images.githubusercontent.com/22990773/38605897-2f04d776-3da7-11e8-9a80-41d8e44e045e.png)
As a comparison, the following figure show the convergence curve when triplets are randomly selected
![no_hard_

[2018-04-11 09:05] philipperemy commented on #13
@Curisan great I think we're moving to the right direction :)

[2018-05-03 21:23] bernardohenz opened #15 "Problem when using the model for prediction"
Hello,

I am having problem to use a trained model to perform prediction. I was capable of training using your code, but I'm having problems with the shape of the input to feed to the model.predict.

Can someone help me?

[2018-06-13 18:52] euzun commented on #15
Hello @bernardohenz,

Here is what I've tried;
`model = convolutional_model(batch_input_shape=batch_shape, batch_size=batch_size, num_frames=num_frames)`
`model.compile(optimizer='adam', loss=deep_speaker_loss)`
`model.load_weights(model_path)`
`get_last_layer_output = K.function([model.layers[0].input,K.learning_phase()],[model.get_layer('ln').output])`
        `embeddings = get_last_layer_output

[2018-06-25 01:03] philipperemy commented on #13
@riddle-man yeah there's still some work to be done before it's fully functional. If you can help, It'll be highly appreciated :)

[2018-07-03 20:37] XingyuGuUCSD opened #17 "for constants.py, no need for BATCH_NUM_TRIPLETS to be a multiple of 3"
BATCH_NUM_TRIPLETS = 6  # should be a multiple of 3

no need to be a multiple of 3

[2018-07-10 16:31] tailongnguyen opened #18 "Adaptation to new language"
Hi,
Thanks for such a great work,
I wonder if this model (trained on English) can perform well on a different language?

[2018-07-18 06:12] Charliechen1 opened #19 "FileNotFoundError: [Errno 2] No such file or directory: 'checkpoints/losses.txt'"
Hi, when I run models_train.py with python3 I got the following error:

The file doesn't seems should be created by myself manually, what should be done for that? Thank you.

[2018-07-19 02:40] Charliechen1 commented on #17
Agree, BATCH_NUM_TRIPLETS should be the number of triplets.

[2018-07-19 02:43] Charliechen1 opened #20 "How can I make prediction for one audio file."
From your source code, it seems the file to predict should also be packed into batches the same size as when training. What if I have just one file and I wanna make the vector for it alone? How shall it be done. Thank you.

[2018-08-28 11:52] prashantmaheshwari94 commented on #3
+1 to the question. Can this code be used to train a model?

[2018-08-29 01:13] philipperemy commented on #3
@prashantmaheshwari94 It's getting there. I pushed a skeleton for a v2 here:

https://github.com/philipperemy/deep-speaker/tree/master/v2

[2018-09-04 13:23] prashantmaheshwari94 opened #21 "missing pkl files for testing"
Hi @philipperemy ,

Thanks you for the implementation. Can you help us with the files - speaker-change-detection-norm.pkl and speaker-change-detection-categorical_speakers.pkl. I couldn't find this resource on repo. Also, can you guide how the trained model can be used for inference?

Cheers!

[2018-09-05 08:31] prashantmaheshwari94 commented on #21
Hi @philipperemy
I was able to generate those files. However, I am not sure of two things
1. How I can inference on trained model for any audio.
2. What network you used for generating embedings.
If you could help, it would great.

Cheers!

[2018-09-05 09:29] philipperemy commented on #21
@prashantmaheshwari94 for now there's no easy way to make inference. The deep speaker task is pretty difficult! You can make some inference based on the speakers of the VCTK corpus dataset.

[2018-09-05 09:55] prashantmaheshwari94 commented on #21
@philipperemy Okay. So I will have to generate pickle file for VCTK dataset using "generate_inputs.py" and then pass it as input to some modified version of "test_with_unseen_speakers.py" script?

[2018-09-05 10:50] philipperemy commented on #21
Something like that. I have to dig into that again. I'll probably look at it this end of week!

[2018-09-05 11:35] prashantmaheshwari94 commented on #21
Okay. Do share the methodology. I can try doing it on my end.

[2018-09-05 13:30] philipperemy commented on #21
Thanks I will!

[2018-09-10 04:51] prashantmaheshwari94 commented on #21
hey, Is there any update on this?

[2018-09-15 05:30] philipperemy commented on #21
@prashantmaheshwari94 now having a look. It will take me some time but I hope to complete it for end of next week!

[2018-09-17 12:12] philipperemy commented on #21
@prashantmaheshwari94 been working on it for those past 3 days.

It's in master now. https://github.com/philipperemy/deep-speaker/blob/master/README.md

Have a look and tell me. It's still very alpha work. But I could get it working here.

[2018-09-17 12:12] philipperemy commented on #21
I'll be still working on it to improve it and add all the files

[2018-09-18 05:15] prashantmaheshwari94 commented on #21
@philipperemy thanks for the implementation. I will have a look at it today.

[2018-09-18 09:57] philipperemy commented on #20
@Charliechen1 check the latest master.

Everything is now explained. This is still alpha work. I'll continue working on this for the next upcoming weeks.

https://github.com/philipperemy/deep-speaker/blob/master/README.md

[2018-09-18 09:57] #20 closed

[2018-09-20 08:28] prashantmaheshwari94 commented on #21
@philipperemy it worked like a charm. Thanks for the great implementation.
I was thinking of running it to compute accuracy on some standard dataset.

[2018-09-21 01:16] philipperemy commented on #21
@prashantmaheshwari94 great! Happy to hear that!

[2018-09-21 01:17] philipperemy commented on #21
I'll close this issue for now. Let me know how it goes!

[2018-09-21 01:17] #21 closed

[2018-09-27 01:18] philipperemy commented on #18
@tailongnguyen sure. Just find a dataset similar to VCTK. Output it in the same format and you're done :)

[2018-09-27 01:18] #18 closed

[2018-09-27 01:18] philipperemy commented on #3
Code is usable now! I made a simpler version that seems to work great

[2018-09-27 01:18] #3 closed

[2018-09-27 01:18] #4 closed

[2018-10-13 09:47] NightFury10497 opened #23 "Dimensions issue"
![image](https://user-images.githubusercontent.com/30961652/46903993-1b9a2480-cefb-11e8-824d-77a38cc8b477.png)

[2018-10-18 08:05] NightFury10497 opened #24 "How to Test data?"
How can i Test data from these files of the branch Improvements one?

[2018-10-26 03:15] WHATDOESTHEDEATHSAY commented on #13
@Curisan hello，I saw your answer on CSDN, there are some questions I would like to consult. The author of the project took 8 copies before and after the data processing part. What do you mean by 16? Thank you.

[2018-11-01 10:20] zhangshyang opened #25 "Can anyone tell me where the namedtupled package gets?"
When I run the code, I meet the problem that no module named 'namedtupled'. And I try to look for it but I can't. So if you can help me, please! Thanks!

[2018-11-01 12:46] zhangshyang commented on #25
I have been searched for namedtupled by Baidu before, I did not find it. But I find it by Google.

[2018-11-02 05:28] philipperemy commented on #25
[code]

[2018-11-02 05:28] #25 closed

[2018-11-02 05:28] philipperemy commented on #25
Also run
[code]

[2018-11-04 10:58] zhangshyang commented on #23
I meet the same problem. I try to delete the chechpoints document, and the xx.h5 is not existed. The code can be run. So you can have a try.

[2018-11-04 11:09] NightFury10497 commented on #23
how will i delete checkpoint while it is getting compiled

[2018-11-06 06:05] WIll-Xu35 commented on #24
I don't think you can run inference under the v3 repository since the author hasn't finished training according to the readme file. So there is no pretrained model released for inference. You might train it yourself before testing it if you have enough computational power. If you tried to train it yourself, please let us know how it goes.

[2018-11-07 02:45] zhangshyang opened #26 "how can extract embedding from the wav?"
I want to get embedding from the raw wav file which the speaker has been trained. If I remove the cache and run a cache update, then compute the embedding, the result is diffent from directly run get_embeddings command. So which one is right? And when get embedding from raw wav which not trained, the cache file need to delete every time?

[2018-11-27 01:37] philipperemy commented on #26
Read this section in the Readme: https://github.com/philipperemy/deep-speaker#from-any-wav-files.

[2018-11-27 01:37] philipperemy commented on #26
Deep learning is not an exact science. When you train a model, results will be different all the time.

[2018-11-27 01:38] philipperemy commented on #26
The cache is meant to be built once. For every wav file, we extract samples randomly and place them in the cache. Once it's generated, results are fixed.

[2018-11-27 01:38] #26 closed

[2018-11-28 07:53] WIll-Xu35 opened #27 "Performance of pretrained model"
I'm working on testing the pretrained model on some public datasets. But the coding require to put every piece of audio into cache and I have to modify the code to read directly from audio file. So before doing the modification, I'd like to know the performance of the pretrianed model. If it is bad, then I would train from scratch before testing or maybe change to another approach.

Thanks.

[2018-12-15 09:45] cnlinxi opened #28 "how to Fine-Tune this model?"
Great work.
How to fine tune this model? thank you

[2018-12-28 14:20] alyosama opened #29 "Where is CNN ?"
I have checked the paper and the code and I realized that there is no implementation for the Convolution neural networks stack such as ResNet inside the code.

[2019-01-06 08:54] #28 closed

[2019-01-09 03:54] philipperemy commented on #29
@alyosama it's there: https://github.com/philipperemy/deep-speaker/tree/master/v3

But we tried it and it was too difficult to make it converge (at least not trivial). So we implemented a simpler model. The next step would be to slowly move to the CNN and ResNet.

[2019-01-18 09:27] Aurora11111 opened #30 "can this identify a new speaker?"

[2019-01-28 03:04] xhsoldier opened #31 "running on ubuntu16.04 i7CPU too slow"
It takes several minutes to compute the value.
May I ask what it should be? several seconds?

[2019-01-29 07:49] xhsoldier commented on #31
any method to improve the running time?

[2019-02-20 17:46] amendezp opened #33 "generate_features_for_unseen_speakers target_speaker 363"
Is there any reason why the function generate_features_for_unseen_speakers in unseen_speakers.py always uses as parameter for target speaker 'p363'?

[2019-03-05 10:18] dmazurok commented on #33
It uses it only if you didn't provide any other value for target speaker. If you follow the code, you'll see, that it always provide the name of one of the speakers you are testing

[2019-03-06 01:09] eeric opened #34 "how to test .h5 model?"
it wasn't non-existent to test file.
in addition, how to use to model.predict()?
tensorflow convolution layer wasn't used, but keras module, why?

[2019-03-06 07:24] dmazurok opened #35 "Speed-up the speaker verification somehow? (Features extraction mainly)"
Is there any way to compute features faster? It takes around 15 minutes per speaker, or even more. Do I do anything wrong? I adapted the code, so I first make the cache, then compute features, save them to the file and only afterwards calculate the cosine simularity. But saving the features takes nearly 20 minutes per cache on i7-7700.
Looks like the model learns during the features extraction pro

[2019-03-08 09:40] azuryl opened #36 "cli.py error"

[2019-03-08 09:41] azuryl opened #37 "cli.py error"
python cli.py --unseen_speakers p363,p363 --audio_dir $AUDIO_DIR --cache_output_dir $CACHE_DIR
2019-03-08 17:32:52,348 - INFO - audio_dir = /home/deep-speaker-data/VCTK-Corpus/
2019-03-08 17:32:52,348 - INFO - cache_dir = /home/deep-speaker-data/cache/
2019-03-08 17:32:52,348 - INFO - sample_rate = 8000
Using TensorFlow backend.
Traceback (most recent call last):
  File "cli.py", line 83, in <modu

[2019-03-08 16:12] #36 closed

[2019-03-11 08:25] tongbc opened #38 "cant find get_last_checkpoint_if_any, create_dir_and_delete_content in utils"
models_train.py , cant find these two methods from utils.py

[2019-03-11 09:40] Aurora11111 commented on #33
@amendezp  may it because of the conf.json

[2019-03-14 04:00] Aurora11111 commented on #38
in the v3 directory

[2019-03-15 03:41] Aurora11111 opened #39 "how to set to run on mutil-gpu"
I am run a single gpu now,it's slow,how to run the project on mutil-gpu?

[2019-03-17 05:47] KatherineWe opened #40 "Sorry, I can't find train_triplet_softmax_model.py in the last step. Did i miss sth?"

[2019-03-19 09:21] deepzx987 opened #41 "Tensorflow and keras version"
Which version of tensorflow and keras are you using??
I am getting this error while executing your code:
Traceback (most recent call last):
  File "train_cli.py", line 245, in <module>
    start_training()
  File "train_cli.py", line 207, in start_training
    kx_train, ky_train, kx_test, ky_test, categorical_speakers = data_to_keras(data)
  File "/home/deepankar/deep-speaker/utils.py", line 15, i

[2019-03-21 03:29] BlueAnthony commented on #37
I have the same problem.
@azuryl  Do you figure out right now?

[2019-03-22 03:48] Aurora11111 opened #42 "wav from the same speaker"
when test with two different wavs which from the same unseen speaker ,the result is almost equal to the result which create by different unseen speaker.
can you tell me why?

[2019-04-03 07:30] 949371143 opened #43 "FileNotFoundError"
[Errno 2] No such file or directory: '$CACHE_DIR\\audio_cache_pkl\\VCTK Corpus\\wav48\\p240\\p240_034_cache.pkl'

[2019-04-10 04:17] Aurora11111 opened #44 "devector"
if we change the embeddings produced by softmax into dvector embeddings which created by pytorch-speaker-verification. can it works?

[2019-04-10 06:04] Aurora11111 opened #45 "can you explain your x_train,y_trian,x_test,y_test?"
sir,can you explain your x_train,y_trian,x_test,y_test?it seems that the y_* isn't the label for data

[2019-04-18 05:28] philipperemy commented on #43
@949371143 For now it works only on linux/mac os

https://github.com/philipperemy/deep-speaker/commit/1e0b866d6290c62e6bd8f6c21bb545fc71a91768

[2019-04-18 05:28] #43 closed

[2019-04-18 05:29] philipperemy commented on #41
@deepzx987

[code]

But I guess other versions should work!

[2019-04-18 05:29] #41 closed

[2019-04-18 05:38] philipperemy commented on #37
@azuryl @BlueAnthony I'm going to add a smaller version of the dataset to make things easier.

[2019-04-18 05:50] philipperemy commented on #33
@amendezp  @Aurora11111

Sorry if it was not crystal clear.

The speaker test set is defined in conf.json. I used p363 because it was the first one.

[code]

I'm going to refactor it now

[2019-04-18 05:50] #33 closed

[2019-04-18 05:51] philipperemy commented on #30
Yes look I provide an example with myself: PhilippeRemy

https://github.com/philipperemy/deep-speaker#from-any-wav-files

[2019-04-18 05:51] #30 closed

[2019-04-18 05:52] philipperemy commented on #24
@NightFury10497 @WIll-Xu35 yeah I still struggle to find time to work on it. I'm going to work on it now.

[2019-04-18 05:53] philipperemy commented on #37
But I can't reproduce the error. Could you reproduce all the steps of the README? Are you using v3?

https://github.com/philipperemy/deep-speaker/blob/master/README.md

[2019-04-18 05:55] philipperemy commented on #23
@NightFury10497 no checkpoints dont get deleted unless you remove them with `rm`.

[2019-04-18 05:55] philipperemy commented on #23
Can you provide the commands that triggered this error @NightFury10497 ?

[2019-04-18 05:56] philipperemy commented on #31
Yeah true I'm thinking of a way to make it much faster.

[2019-04-18 05:59] philipperemy commented on #45
Can you point where in the code @Aurora11111 ?

[2019-04-18 06:13] WIll-Xu35 commented on #24
@philipperemy Great!

One more thing to mention, is it possible to avoid using cache during inference and training? I understand using cache will speedup the process but when using large datasets, it is not possible to place the whole dataset into the cache. And personally I'm not familiar with cache operations and using cache make it very hard for me to modify the code and test on large scale dat

[2019-04-18 08:57] 949371143 commented on #43
Sad story,there are many questions when it works on win7.Thank you!

[2019-04-18 09:46] BlueAnthony commented on #37
Hi, @philipperemy, first, thank you for ur awesome work and reply.
I just follow ur guidance and use VCTK dataset, so I think I actually didn't use v3.
Somehow I fixed the problem several weeks ago.
I think I might miss some details

[2019-04-19 01:51] Hsiny commented on #37
you should run generate command always, even just inference.
`python cli.py --regenerate_full_cache --multi_threading --cache_output_dir $CACHE_DIR --audio_dir $AUDIO_DIR
`

[2019-04-19 02:44] Aurora11111 commented on #45
@philipperemy
in https://github.com/philipperemy/deep-speaker/blob/master/train_cli.py

Line 207

[2019-04-19 02:55] Aurora11111 opened #46 "reference"
hello,I run this project with my own datasets.but get not good result.
for same speaker(same wav have been trained) the  Cosine  = 0.0
for same speaker(different wav) the Cosine  = x*e-06 or  x*e-07
for the different speaker the Cosine  =X*e-05
there seems not much different from them ,can you give me some suggestions?

[2019-04-19 05:52] philipperemy commented on #45
x_train, x_test are inputs to the models. From what I remember they contain MFCC features.

https://github.com/philipperemy/deep-speaker/blob/1e0b866d6290c62e6bd8f6c21bb545fc71a91768/utils.py#L19

y_train and y_test refer to the speaker id (one hot vector). So it's the label of the data.

[2019-04-19 05:54] philipperemy commented on #45
During the softmax pre-training they are used.

HOWEVER, during the embeddings training we don't use the targets y to train the model.

[2019-04-19 05:56] philipperemy commented on #45
Hope it's clear and makes sense for you!

[2019-04-19 05:56] #45 closed

[2019-04-19 06:00] philipperemy commented on #37
But did you set the variables `$AUDIO_DIR` and `$CACHE_DIR` before running the command? @Hsiny
I re-ran all the commands and it worked great.

[2019-04-19 06:00] philipperemy commented on #43
Yeah don't hesitate to contribute to add support for windows if you have time!

[2019-04-19 06:18] Aurora11111 commented on #45
@philipperemy thank you,sir,I got it

[2019-04-19 08:29] Hsiny commented on #37
yes,I set the environment variables.
`update_cache  `or `regenerate_full_cache`  must be run first ,before any `unseen_speakers ` command

It would be better add "make audio cache before inference " to documents.

reproduce the error
just run  without any cache related command
`python cli.py --unseen_speakers p363,p364 --audio_dir $AUDIO_DIR --cache_output_dir $CACHE_DIR
`

and the right way for i

[2019-04-28 07:43] Aurora11111 commented on #35
@dmazurok you shouldn't use this project's mechod to extract features ,it's really slowlly,you can reference this:https://github.com/Aurora11111/speaker-recognition-pytorch

[2019-06-24 18:52] JpMCarrilho commented on #35
From digging a bit the code I realized that the feature generation loop is what takes a huge amount of time during the speaker comparison and embedding generation, I'm still looking into it, but changing the "max_count" variable regularizes it, can't tell you about the side effects of this though.

[2019-07-13 21:47] MingruiYuan commented on #23
Hello, I met the same problem. The two commands are as follows:
1) python cli.py --regenerate_full_cache --multi_threading --cache_output_dir $CACHE_DIR --audio_dir $AUDIO_DIR
2) python cli.py --unseen_speakers p363,p364 --audio_dir $AUDIO_DIR --cache_output_dir $CACHE_DIR

[2019-09-28 09:54] PBRAOS opened #48 "GPU utlization low"
So i decided to go through your code which i am enjoying since yesterday! My intention is to try to help improve it and align it to the original paper.
I noticed that the utilization on my GPU is quite low close to 0% whereas my memory peaks to 8GB and i get all the relevant GPU messages from the tensorflow backend.
I also notice your comments that the code is not GPU efficient.
As you are more co

[2019-10-24 13:23] ooobsidian opened #49 "AssertionError"
hello，when I run `python cli.py --unseen_speakers p363,p364 --audio_dir $AUDIO_DIR --cache_output_dir $CACHE_DIR`, it gives me an error
[code]

How can I solve this problem?
Thank you！

[2019-10-24 15:24] ooobsidian commented on #49
solved！

[2019-10-24 15:24] #49 closed

[2019-11-04 17:18] lecidhugo commented on #49
Hi @ooobsidian,
How did you manage to solve it ? I am facing the same problem.
Thank you!,

[2019-11-05 13:34] ooobsidian commented on #49
Do it step by step,do not "Generate embeddings with a pre-trained network" at first,
you can "generate audio caches" at first and "Generate embeddings with a pre-trained network" next.

[2019-12-30 11:00] ooobsidian commented on #37
@philipperemy hello, why does it take so long to test two different speakers？
such as:
`python cli.py --unseen_speakers p363,p364 --audio_dir $AUDIO_DIR --cache_output_dir $CACHE_DIR`
it takes me ~10min, makes me anxiety.

[2020-01-01 15:25] ooobsidian opened #50 "speaker embedding"
@philipperemy I want to know why cosine similarity is so close when I run `python cli.py --get_embeddings xxx --cache_output_dir $CACHE_DIR --audio_dir $AUDIO_DIR` to get two different speakers embedding?It is ~0.97, and I don't understand how to slove it.

[2020-01-24 05:41] ooobsidian commented on #48
I have same ploblem, how to fix this? @philipperemy

[2020-04-24 06:06] philipperemy commented on #50
@ooobsidian this was a simple model. Try again with the new master. I pushed the latest code.

[2020-04-24 06:06] #50 closed

[2020-04-24 06:06] philipperemy commented on #48
Try again with the new master. I pushed the latest code.

[2020-04-24 06:06] #48 closed

[2020-04-24 06:06] philipperemy commented on #48
@PBRAOS check out the latest code :)

[2020-04-24 06:07] philipperemy commented on #46
@Aurora11111 Try again with the new master. I pushed the latest code.

[2020-04-24 06:07] #46 closed

[2020-04-24 06:07] philipperemy commented on #44
Yes it should work.

[2020-04-24 06:07] #44 closed

[2020-04-24 06:07] philipperemy commented on #42
Try again with the new master. I pushed the latest code.

[2020-04-24 06:07] #42 closed

[2020-04-24 06:07] philipperemy commented on #40
Try again with the new master. I pushed the latest code.

[2020-04-24 06:07] #40 closed

[2020-04-24 06:08] philipperemy commented on #39
Try again with the new master. I pushed the latest code. For the multi GPU I haven't done it but this is a hint on how to do it: https://www.tensorflow.org/api_docs/python/tf/keras/utils/multi_gpu_model

[2020-04-24 06:08] #39 closed

[2020-04-24 06:08] philipperemy commented on #38
Try again with the new master. I pushed the latest code.

[2020-04-24 06:08] #38 closed

[2020-04-24 06:09] philipperemy commented on #34
Try again with the new master. I pushed the latest code and uploaded the H5 models :)

[2020-04-24 06:09] #34 closed

[2020-04-24 06:09] philipperemy commented on #31
Try again with the new master. I pushed the latest code. It will be much much faster.

[2020-04-24 06:09] #31 closed

[2020-04-24 06:09] philipperemy commented on #29
Try again with the new master. I pushed the latest code. It's in there now!

[2020-04-24 06:09] #29 closed

[2020-04-24 06:09] philipperemy commented on #27
Try again with the new master. I pushed the latest code. There is a pre-trained model already.

[2020-04-24 06:09] #27 closed

[2020-04-24 06:10] philipperemy commented on #24
@NightFury10497 @WIll-Xu35 Try again with the new master. I pushed the latest code. Work is finally finished :) I uploaded the pre-trained H5 models and everything.

[2020-04-24 06:10] #24 closed

[2020-04-24 06:12] philipperemy commented on #23
Try again with the new master. I pushed the latest code.

[2020-04-24 06:12] #23 closed

[2020-04-24 06:12] philipperemy commented on #37
Try again with the new master. I pushed the latest code. Should be insanely much faster and I could reproduce mostly the results of the paper.

[2020-04-24 06:12] #37 closed

[2020-04-24 06:13] philipperemy commented on #35
Try again with the new master. I pushed the latest code. It will be much much faster.

[2020-04-24 06:13] #35 closed

[2020-04-24 06:13] philipperemy commented on #17
Try again with the new master. I pushed the latest code. This issue is not relevant anymore.

[2020-04-24 06:13] #17 closed

[2020-04-24 06:13] philipperemy commented on #15
Try again with the new master. I pushed the latest code.

[2020-04-24 06:13] #15 closed

[2020-04-24 06:14] philipperemy commented on #13
@riddle-man @linhdvu14  Try again with the new master. I pushed the latest code. CNN and everything and it seems to work great now :)

[2020-04-24 06:14] #13 closed

[2020-04-24 06:14] philipperemy commented on #7
Try again with the new master. I pushed the latest code. It's working correctly now!

[2020-04-24 06:14] #7 closed

[2020-04-24 06:15] ooobsidian commented on #50
Thank you very much!

[2020-05-14 10:08] shiyu22 opened #54 "use model with only cpu"
Can i use this model with only cpu?And how to config?

[2020-05-15 11:59] philipperemy commented on #54
yes just follow this instructions here: https://github.com/philipperemy/deep-speaker#test-instruction-using-pretrained-model

Tensorflow works with either CPU or GPU.

[2020-05-16 01:56] ooobsidian opened #55 "counts_per_speaker"
Could you tell me about `--counts_per_speaker`? I want to train on my own dataset, but I don't know how to use it.

[2020-05-18 04:20] philipperemy commented on #55
@ooobsidian sure. counts_per_speaker is the number of samples to generate for the train and test sets.

If you specify `--counts_per_speaker 600,100`, that means for each speaker, you're going to generate 600 samples for training and 100 for testing. One sample is 160 frames by default (~roughly 1.6 seconds).

[2020-05-18 04:20] philipperemy commented on #54
I'm going to close this issue. Let me know if it's not clear.

[2020-05-18 04:20] #54 closed

[2020-05-18 05:29] ooobsidian commented on #55
When I run `./deep-speaker build-keras-inputs`, when one iteration is over, it got an error:
[code]

[2020-05-19 01:54] philipperemy commented on #55
@ooobsidian seems like `total_epochs` or `steps_per_epoch` is None.

[2020-05-19 01:58] ooobsidian commented on #55
THX, I wonder when the training softmax will be ready to take the next step?

[2020-05-19 03:19] philipperemy commented on #55
Not sure where it comes from. I've never encountered this..

[2020-05-19 03:31] ooobsidian commented on #55
I mean what indicators need to be achieved in `./deep-speaker train_softmax` before the `./deep-speaker train_triplet`.

[2020-05-19 07:49] philipperemy commented on #55
I can reach something like  train_accuracy: 0.998 and test_accuracy: 0.990. From there, I stopped and started the train_triplet command.

[2020-05-19 08:04] ooobsidian commented on #55
OK, thanks!

[2020-05-19 08:14] philipperemy commented on #55
@ooobsidian welcome!

[2020-05-21 02:21] ooobsidian commented on #55
Hello, when I run `./deep-speaker train_triplet`, an error has occurred.
[code]
Can you help me?

[2020-05-21 04:59] philipperemy commented on #55
@ooobsidian Seems like when you're running the triplet training, your folder containing the triplets is empty?

[2020-05-21 05:37] ooobsidian commented on #55
yes, my `deep-speaker` file is
[code]

I follow your README.md, but it doesn't work.

[2020-05-21 05:45] ooobsidian commented on #55
Should I rerun the command `python cli.py build-mfcc-cache --working_dir "${TRIPLET_TRAINING_WORKING_DIR}" --audio_dir "/data/source/voiceprint_asr_train_20200403/wav/deep-speaker-1000/wav"` ？

[2020-05-21 07:33] xyj0880 commented on #55
Hi , when I run, ./deep-speaker build_mfcc , I get an error.
Can you help me?

[build_mfcc] selected.
Using TensorFlow backend.
Traceback (most recent call last):
  File "cli.py", line 96, in <module>
    cli()
  File "/usr/local/lib/python3.5/dist-packages/click/core.py", line 829, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/click/core.py", lin

[2020-05-21 08:29] philipperemy commented on #55
@ooobsidian Ah yeah that's why. You have FLAC or WAV? This code expects FLAC extension!
I stopped using WAV because it takes too much space. FLAC is compressed WAV.
When you download LibriSpeech, it's FLAC by default.
I think it should solve your problem!!

[2020-05-21 08:40] ooobsidian commented on #55
I used my own dataset, it’s way.

[2020-05-21 09:27] philipperemy commented on #55
AAhh then code needs to be edited a bit. just replace all flac by wav in the code. It will work the same way.

[2020-05-21 09:27] philipperemy commented on #55
https://stackoverflow.com/questions/1585170/how-to-find-and-replace-all-occurrences-of-a-string-recursively-in-a-directory-t

flac -> wav
FLAC -> WAV

[2020-05-21 09:28] philipperemy commented on #55
I'll add the support of wav too :)

[2020-05-21 09:28] philipperemy commented on #55
Thanks for checking the code by the way!

[2020-05-21 09:29] ooobsidian commented on #55
thank you very much！

[2020-05-21 10:52] ooobsidian commented on #55
One last question, when can triplet loss training stop? Here is my situation.
[code]

[2020-05-21 11:07] philipperemy commented on #55
@ooobsidian it never stops in my opinion. I stopped it but it was still decreasing. It takes a long time. My training logs are here:

- Softmax pre-training: https://docs.google.com/document/d/1ZZjBk5TgFgaY9GgOcHaieOpiyB9lB6oTRSdk6g8FPRs/edit
- Triplet training: https://docs.google.com/document/d/1mL0Jb8IpA7DOzFci71RT1OYTq7Kkw2DjTkI4BRpEzKc

[2020-05-21 11:11] ooobsidian commented on #55
thanks, I see.

[2020-05-22 16:11] ooobsidian commented on #55
I'm sorry to bother you again. I referred to your code in readme.md when I tested it, and my test file content is follow:
[code]
And when the `get_register()` function is executed, after running for a while, it will occur an error:
[code]
I know it's an OOM error, but I don't know how to fix it? Can you help me please?

[2020-05-23 03:39] #55 closed

[2020-05-23 14:16] ooobsidian opened #57 "The test results"
Hello, after training, I used the checkpoint with the best training effect. According to the test sample in readme.md, I changed it slightly and tested 100 speakers outside the training set for cross-validation. Resulting EER has reached ~23% ! Do you have any thoughts on this, is it not suitable for testing data outside the training set?

[2020-05-24 05:03] ooobsidian commented on #57
@philipperemy Can you help me please? :(

[2020-05-24 06:03] philipperemy commented on #57
What was the EER you had on the training set?

I had `f-measure = 0.849, true positive rate = 0.798, accuracy = 0.997, equal error rate = 0.025` on LibriSpeech.

[2020-05-24 06:07] ooobsidian commented on #57
I use `export CUDA_VISIBLE_DEVICES=0; python cli.py test-model --working_dir .deep-speaker-wd/test/ --checkpoint_file checkpoints-triplets/ResCNN_checkpoint_331.h5` , had `2020-05-23 11:29:04,274 - INFO - f-measure = 0.841, true positive rate = 0.816, accuracy = 0.997, equal error rate = 0.024` , but I think it regarded training set as test set, so it has a good performance.

[2020-05-24 06:09] philipperemy commented on #57
equal error rate = 0.024 means 2.4% is it's very good!

[2020-05-24 06:13] ooobsidian commented on #57
I don't know what your test method is, can you tell me? In my own test file, each speaker has two registered sounds, one test sound. Average the embedding of the two register sounds to get an embedding, and then cross-validation, I get EER is 0.23.

[2020-05-24 06:21] ooobsidian commented on #57
My cross validation file content is follow:
[code]

[2020-05-24 06:48] philipperemy commented on #57
This is the function I use to evaluate a speaker: https://github.com/philipperemy/deep-speaker/blob/ad6deae705f6a05067ce2cbdddb061d358823b72/test.py#L28.

Each speaker is checked another utterance of the same speaker and against 99 negative speakers.

[2020-05-24 06:49] philipperemy commented on #57
[code]
Here it seems sum is converging to 0. Be careful :)

[2020-05-24 06:52] ooobsidian commented on #57
thanks, I will check it.

[2020-05-24 08:48] philipperemy commented on #57
No problem! It's explained in the Deep Speaker paper if the code is not clear!

[2020-05-24 13:07] ooobsidian commented on #57
I don't know what your mean. I averaged the two embedding by this method, and I checked the averaged value and it was correct. Will this method cause errors? Hope to get your answer.

[2020-05-25 02:31] ooobsidian commented on #57
@philipperemy Are you free? I'm sorry to bother you.

[2020-05-25 06:06] philipperemy commented on #57
@ooobsidian you're doing incremental averaging the wrong way I think: https://math.stackexchange.com/questions/106700/incremental-averageing

[2020-05-25 06:06] philipperemy commented on #57
Just append() and np.mean() at the end.

[2020-05-25 06:09] philipperemy commented on #57
something like this:
[code]

[2020-05-25 06:12] ooobsidian commented on #57
Then do you think there are any errors in other parts, such as extracting embeddings. I'll test it using your method.

[2020-05-25 07:30] ooobsidian commented on #57
The result of `np.mean(sum)` is a number, not an array. So I think there is something wrong with this method.

[2020-05-25 07:59] ooobsidian commented on #57
I would like to know how to use the method you provided to test speakers outside the training set. I needed two registered audios and one test audio for each speaker. How should the test program be modified？

[2020-05-25 10:46] philipperemy commented on #57
@ooobsidian sorry np.mean(..., axis=0)

[2020-05-25 10:47] philipperemy commented on #57
Follow this example: https://github.com/philipperemy/deep-speaker#test-instruction-using-pretrained-model

[2020-05-25 14:17] ooobsidian commented on #57
@philipperemy I changed `np.mean(..., axis=0)`, and it's eer is ~23%. And I refer the example Follow this example: https://github.com/philipperemy/deep-speaker#test-instruction-using-pretrained-model.
Here is my frr and far curve:
![](https://pic.alphalrx.cn/20200525221622.png)
I hope you can explain some of this please, thank you.

[2020-05-26 00:46] philipperemy commented on #57
@ooobsidian can you run your script (to generate the plot FAR FRR) on the data you trained your model on? Let's make sure that your evaluation script is correct (first of all).

[2020-05-26 07:11] ooobsidian commented on #57
@philipperemy I chose 100 speakers in the training set as the test data. There are 30 registered audios for each speaker, and the audios in the training set are very short, basically only 1-2 seconds. In my previous test data, each speaker had two registered audios, each of audio has 20-30 seconds. So the two experiments are basically the same. And I generated the plot FAR FRR, which is follow:
![

[2020-05-26 08:11] philipperemy commented on #57
Hum it's weird. I can't really explain. What I can say is that I trained all the speakers for the training-testing set. 20% of the utterances were put in the test set. But training and testing share the same speakers. Is your test set really different than your training set?

[2020-05-26 08:15] ooobsidian commented on #57
Yes, the speakers in the test set I used were not in the training set at all, that is to say, the computer never saw the speaker in the test set. So your system can't distinguish speakers outside of the training set?

[2020-05-26 08:16] philipperemy commented on #57
I've never tried but I think it should be able to generalize well because my model was trained on 2500 speakers.

[2020-05-26 08:18] ooobsidian commented on #57
So after my attempts, it seems that the system is unable to distinguish the speakers who are not in the training set very well.

[2020-05-26 09:18] philipperemy commented on #57
Did you try on a similar dataset such as VCTK Corpus? The datasets of LibriSpeech are clear speech. If your testing set is too far from that (for example noisy env), then it can maybe explain that.

[2020-05-26 09:30] ooobsidian commented on #57
So I did it again with some of the speakers in the LibriSpeech or VCTK Corpus. Indeed, there was noise in my test data set.

[2020-05-26 10:14] philipperemy commented on #57
Ok so I know from experience that those models work very well in noise free environments. If they haven't been trained with noise, they perform poorly.

At Baidu, they hired hundreds of people in rooms to generate voice data with different types of sound. Also, the dataset they used contained 250K speakers (which is big!).

[2020-05-26 16:33] ooobsidian commented on #57
@philipperemy I tested on VCTK Corpus. I selected 109 speakers, and EER is 3.67%, it's good. So noise in audios is a very important factor.

[2020-05-27 00:29] philipperemy commented on #57
@ooobsidian I think we found the reason. EER of 3.67% is good especially this dataset is really out of sample (different speakers, different conditions, but still no noise).
Best is to gather a large noisy dataset and train the model. But I guess, only Baidu can do that...

[2020-05-27 08:18] ooobsidian commented on #57
@philipperemy Thank you for your tireless work on this question!

[2020-05-27 08:18] #57 closed

[2020-05-27 12:00] philipperemy commented on #57
@ooobsidian no problem!

[2020-06-12 01:56] user-ZJ opened #58 "how to use gpu"
I have install tensorflow-gpu.But when run './deepspeaker train_softmax',I find it only use cpu.
I don't know why. Can you give me some points.

'''
pip list | grep tensorflow
tensorflow-estimator               2.2.0
tensorflow-gpu                     2.2.0
 '''

[2020-06-13 01:55] philipperemy commented on #58
@user-ZJ `nvidia-smi` and `nvcc` are installed correctly?
Maybe your GPU is not compatible with tensorflow-gpu 2.2.0.
Can you try different versions of tensorflow-gpu such as:

This should work with 2.0:
[code]

Try also 2.1 as well.
[code]

[2020-06-13 03:34] user-ZJ commented on #58
@philipperemy
I have reinstall tensorflow-gpu==2.0

tensorflow-estimator               2.0.1
tensorflow-gpu                     2.0.0

the train process is running on GPU

But I have another problem. The GPU only used 10%.Is that normal?

Sat Jun 13 11:28:16 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    C

[2020-06-13 04:47] philipperemy commented on #58
Nice GPU! @user-ZJ how much system memory do you have? I had 32GB of memory.
It's possible that you're running out of memory and it slows down the training. This part is not very optimized. RTX 2080 is a great GPU so hard to be a bottleneck.

[2020-06-13 04:57] user-ZJ commented on #58
@philipperemy

I clone the 20200611 code.

This is my hardware usage info when I run ./deepspeaker train_triplet
 CPU(intel i7 8 core):

 8094 zack      20   0 20.224g 0.010t 101492 S 734.4 16.3   6767:56 python

GPU:
only use 10%

MEMORY:

              total        used        free      shared  buff/cache   available
Mem:            62G         13G        1.1G        542M         48G         48G

[2020-06-13 05:56] philipperemy commented on #58
@user-ZJ yeah so the train triplet is heavily dependent on the speed of your disk. Do you have a fast SSD?

[2020-06-13 05:56] philipperemy commented on #58
All the triplets are read from the disk and formed at each batch.

[2020-06-13 08:28] user-ZJ commented on #58
@philipperemy   thanks for reply.
All my data is in SSD but the GPU userate is low.

And I run ./deepspeaker train_softmax.It need 8h/eporch.

  2208/552576 [..............................] - ETA: 8:35:30

Do you have any suggestion to speed up the training?
thanks!

[2020-06-13 13:31] philipperemy commented on #58
Sorry @user-ZJ I don't have any idea why it's slow on your machine. Are you using exactly the same dataset (LibriSpeech)?

You can see my training logs for information:
- softmax: https://docs.google.com/document/d/1ZZjBk5TgFgaY9GgOcHaieOpiyB9lB6oTRSdk6g8FPRs/edit
- triplet:
https://docs.google.com/document/d/1mL0Jb8IpA7DOzFci71RT1OYTq7Kkw2DjTkI4BRpEzKc/edit

[2020-06-13 13:47] user-ZJ commented on #58
@philipperemy  I also use LibriSpeech dataset.
I will try to debug for this,thanks!

[2020-06-13 13:48] #58 closed

[2020-06-14 09:17] philipperemy commented on #58
Good luck :)

For info, it worked great with my desktop: i7-8770K, 32GB memory and GTX 1070 with CUDA 10.

[2020-06-18 14:22] user-ZJ commented on #58
I uninstall tensorflow and build tensorflow with source code.
Then I run ./deepspeaker softmax_train,it works well.
I guess it cause by cuda version(my cuda version is 10.2).
Thanks.

[2020-06-19 02:06] philipperemy commented on #58
@user-ZJ awesome!!! tes probably your version is not CUDA 10.0 and it required a custom tensorflow build (from the sources). Now I remember I had this problem when I installed CUDA 10.1. I eventually reverted to 10.0 not to have the hassle of building my own wheels.

[2020-06-29 12:22] joewale opened #59 "How to quickly train the model based on the original model for the audio data of the new speaker？"
How to quickly train the model based on the original model for the audio data of the new speaker？

[2020-06-29 12:39] philipperemy commented on #59
@joewale I would say it's kinda difficult but I've never tried. You can re run the training commands on your dataset+Libri. First, make sure it's in the LibriSpeech format otherwise the python code won't work.

[2020-07-06 18:45] #59 closed

[2020-07-31 07:11] baobrian opened #60 "GPU usage rate"
when i run train_triplet phase of this project with the enviroment ubuntu18.4 and  Tesla gpu, the nvidia-smi shows that GPU usage is only 305MiB ,i wonder how to set the gpu usage rate options in the code,thanks

[2020-08-01 00:03] philipperemy commented on #60
Like I said, make sure that you can successful run some python scripts with tensorflow on the GPU before running deep speaker.

[2020-08-03 19:55] Tomas1337 opened #61 "Length of audio"
Hi,

I'm trying to use your model to create a real-time voice identification system.

Correct me if I'm wrong but when you convert the audio into mfcc, you use the whole audio to construct the mfcc and then randomly sample a size of NUM_FRAMES

I'm now onto investigating which sample size I should convert to pass into the mfcc fbank conversion. I haven't done extensive testing yet but upon initial

[2020-08-04 01:33] philipperemy commented on #61
@Tomas1337

Yes that's correct. We take a few seconds of this sound.

There's no magical number but I guess at least one to two seconds of speech should be enough to create a real-time voice identification system. The more the better of course ;)

[2020-08-05 08:07] philipperemy commented on #60
Let me know when you fixed it. I'll close this issue as it's non related to deep speaker.

[2020-08-05 08:08] #60 closed

[2020-08-06 09:33] Tomas1337 commented on #61
Just to update you, it seems 1 second works quite well! Hope to share my code soon

[2020-08-06 09:39] Tomas1337 opened #62 "Silence / Background Noise similarity"
I've been having fun playing with your pre-trained model and implementation!

I've noticed a phenomena that could be a point of improvement.  When you record silence or background noise, and extract the features from that, say `silent_features`. It has a strong cosine_similarity to anything. I was wondering whether if you train the model and include various background noises / silence on the train

[2020-08-06 09:50] #61 closed

[2020-08-06 14:42] philipperemy commented on #61
@Tomas1337 thanks for sharing! Very helpful. I think my implementation has 1.6 seconds from what I remember.

[2020-08-06 14:43] philipperemy commented on #61
Defined here: https://github.com/philipperemy/deep-speaker/blob/ad6b66a6bdaa1cb2f1cea5b6bf02943f5e326196/constants.py#L17

[2020-08-06 14:47] philipperemy commented on #62
Happy to hear that!

So from what I can say, the model was trained on clean speech without silence nor background noise. So technically, the model has heard only clear voices. If I can draw a parallel with a simple cat/dog classifier, it would be like if the model was given a sample of a car, it would still either predict a cat or a dog.

Yes it's true. I'm sure the model can be smart enough to le

[2020-08-07 06:30] RobinROAR opened #63 "Question in normalization step in prepare MFCC step."
Hi Philip,

I have a two questions about the way your prepare the MFCC feature (audio.py).

1.  In the following code, you normalized the raw Fbank features (num_frames, nfit ).

[code]
But I think your code works in normalizing the 26D Fbank features within just each frame. It is actually the instance normalization but not the commonly-used batch normalization. If we want to normalize data at the

[2020-08-11 11:44] bhrt-sharma opened #64 "How to add seed in this? because everytime i use DeepSpeaker() model, it creates new embedding space"

[2020-08-11 14:47] philipperemy commented on #64
@bhrt-sharma can you post the script that you use? It will help me recreate your issue. Thanks!

[2020-08-12 03:52] bhrt-sharma commented on #64
Thanks a lot for a speedy reply, i am pasting two links--> edited conv_models.py https://ideone.com/fTqI5h and my Flask code via which I am trying to authenticate two voices https://ideone.com/pgn0wl  .... so if I test exactly the same audio for the first time, it gives me 1.00 cosine distance, and as soon as I re-request the flask app again with the same audio the cosine distance becomes 0.68 som

[2020-08-12 07:40] philipperemy commented on #64
So just I don't know about your code in particular, but when I run the example in the README I get the same result twice.

[code]

[code]

[2020-08-12 08:56] philipperemy commented on #64
@bhrt-sharma so let me know!

[2020-08-13 02:19] philipperemy commented on #63
Hi Robin,

Thank you for your question.

1. Here is the paragraph where the authors mention about the normalization:

![image](https://user-images.githubusercontent.com/4516927/90086742-18ba2600-dd56-11ea-9774-7897990727ec.png)

From: https://arxiv.org/pdf/1705.02304.pdf

It's not crystal clear how they did so I had to make a guess. I used instance normalization as you pointed out and did not norm

[2020-08-17 08:00] RobinROAR commented on #63
Hi Philip, Thanks for your quick reply!

I'm not a audio expert as well, but I doubt the IN(Instance Normalization) in each frame because I feel it would remove the difference between audio frames like [0,0,0,0,0..] and [100,100,100,100,100]. Besides, to my knowledge in computer vision field, the IN is usually used in style transfer, GAN-based image synthesize or image-to-image translation tasks.

[2020-08-18 05:52] philipperemy commented on #63
@RobinROAR thank you for making those experiments. It's very insightful. I would expect it to work better too but seems like in practice it yields similar results. I tried to contact the original paper authors but it has been unsuccessful. It's a paper by Baidu and they probably don't want to release too much information. I had to "guess" a lot of small details when implementing the paper. Anyway,

[2020-10-29 11:24] forwiat opened #65 "improve test workflow"
hello philipperemy,
Thank you so much for the great work you've shared.
I find a problem in test. when testing, the class "LazyTripletBatcher" in batcher.py still do "self.update_triplets_history()" function, which show no effect for testing and may reduce the inference speed.
Maybe a little change will solve this.

`

class LazyTripletBatcher:

    def __init__(self, working_dir: str, max_length:

[2020-10-29 11:39] philipperemy commented on #65
@forwiat thank you so much for the feedback! Do you think you can make a small pull request to the code base?

`if is_test == False: => if not is_test:`

[2020-10-30 01:32] forwiat commented on #65
@philipperemy yeah, I am glad to do this if I finish my work. btw, your code shows more concise.

[2020-10-30 01:53] philipperemy commented on #65
@forwiat thank you!

[2020-11-12 01:50] w1nk commented on #62
Hello!

  I've taken the repo/dataset and combined it with the Voxceleb2 dataset (6112 speakers).  I also added a 'speaker' that was composed of a bunch of noise/silence samples.  After I processed the voxceleb data into the same format (flac, 16khz, 24bit samples) as the librispeech data, I made another pass over both datasets, and for every utterance, I created 2 new training examples that were

[2020-11-12 05:47] philipperemy commented on #62
@w1nk AWESOME! Please let us know how it goes :)

[2020-11-12 11:06] mapledxf opened #66 "Code Question"
Hello there,
I was trying to read the code, and got confused with this line:
https://github.com/philipperemy/deep-speaker/blob/cc1a90baca155da824603f59bb3d54cef86f2152/conv_models.py#L61

what does 512 mean? is it the num of speakers?

[2020-11-12 13:04] philipperemy commented on #66
@mapledxf no it's the length of the embeddings vectors. It can be of any arbitrary value and does not depend on the number of speakers.

[2020-11-12 13:36] mapledxf commented on #66
@philipperemy  got it, thx

[2020-11-12 13:36] #66 closed

[2020-11-16 04:06] VinhDevNguyen opened #67 "How can I continue training with my own dataset"
Hi, Is it possible if I use your pretrained model to continue training with my own dataset? If it possible can you show me how to do that? Thanks !!!

[2020-11-16 04:12] philipperemy commented on #67
@VinhDevNguyen yes def possible! All you need is to have the same format as the LibriSpeech dataset.
Just create a big folder, and speakers as sub folders and put your wav/flac files in there.
Then rebuild your caches: https://github.com/philipperemy/deep-speaker/blob/cc1a90baca155da824603f59bb3d54cef86f2152/deep-speaker#L29.
And I think you can restart the commands and should work!

[2020-11-16 04:17] VinhDevNguyen commented on #67
Thank you so much! I will try it ;)

[2020-11-16 04:17] #67 closed

[2020-11-16 04:20] philipperemy commented on #67
Let me know ;)

[2020-11-16 07:45] askaydevs opened #68 "What are the datasets used to train the model?"
In the paper, I found the mention of a dataset called UIDs, but the released model is trained on LibriSpeech. I am assuming that the UIDs dataset is not available publicly. In the paper, the two datasets consisted of Mandarine speech, and another one was English speech.

**Question**: Does the model work _better_ for Mandarine speech or on English speech. Or the language doesn't affect the model p

[2020-11-16 09:42] philipperemy commented on #68
Well I guess as long as you have a sufficiently big dataset, the language should not matter.

[2020-11-16 09:42] philipperemy commented on #68
The datasets Baidu used are proprietary.

[2020-11-16 09:54] askaydevs commented on #68
Thanks.

[2020-11-16 09:54] #68 closed

[2020-11-18 15:10] w1nk commented on #62
Just an update:

I ended up needing to switch versions of tensorflow (switched to 2.3), 2.2 has a nasty memory leak that was getting triggered.  Once I got things running stably, the softmax network converged / I early stopped it at epoch 38 and started training the triplet loss.  That network is currently still training, but is getting close:

2000/2000 [==============================] - 815s 407

[2020-11-19 01:41] dangvansam98 opened #69 "cant i use pretrained model to get embedding vector for file(speaker) not in training dataset"
can i use embedding vector was predicted by model for clustering audio files (speaker not in training set)?

[2020-11-19 03:56] philipperemy commented on #62
@w1nk very cool!

[2020-11-19 05:21] philipperemy commented on #69
Yes you can get an embedding vector of a speaker that was not part of the training set.

Follow this section: https://github.com/philipperemy/deep-speaker#test-instruction-using-pretrained-model

[2020-11-19 08:57] ntdat017 commented on #62
how are you split train/val/test dataset? I found in code that train/val/test is come from same speaker, have you try to split dataset with difference  speaker. And i also curious with your results.

[2020-11-19 10:37] w1nk commented on #62
Hey @ntdat017, I haven't modified the training harness at all so the validation split is being calculated how it's written.   For test, I've got a holdout set of data from the voxceleb dataset that I'll use to perform the evaluation.

[2020-11-23 14:08] lnguyen opened #70 "Memory usage"
Is there a way not to use so much memory if you add speakers?

[2020-11-24 01:41] philipperemy commented on #70
You mean for training? I know the memory usage is not optimized for the softmax pre-training part (Somehow Keras needs double of the memory to work...). But the triplet training should be efficient in memory.

[2020-11-24 12:15] lnguyen commented on #70
got it, thanks!

[2020-11-24 12:15] #70 closed

[2020-11-27 14:01] w1nk commented on #62
Sorry for the delay, it's been a busy week.  The triplet training finally converged after a bit over 600 epochs.  I haven't had a chance to fully evaluate the output yet, but I've gone ahead and uploaded the checkpoints and some helper scripts I used in case anyone reading along is interested.

https://drive.google.com/drive/folders/1EExljgrj3kP-ciUzrsdoWYE5OT14_7Aa

sha256 hashes:
b71ca16f8364605

[2020-11-28 01:58] philipperemy commented on #62
@w1nk that's really awesome!!!! I'm going to have a look this weekend.

[2020-11-30 00:54] demonstan commented on #62
I got an error when loading this model.
[code]
[code]

What is your version of Keras, Tensorflow, and Python?

[2020-11-30 05:32] philipperemy commented on #62
@demonstan the ones specified in the requirements.txt of the repo.

[2020-11-30 07:11] demonstan commented on #62
@w1nk Did you perform evaluation on any dataset?

[2020-11-30 11:36] w1nk commented on #62
@demonstan I've not had a chance to perform the evaluation fully yet.  Since I trained on all of librispeech and all the voxceleb2 training data, I need to take the voxceleb2 test data set and convert/rename it to the correct format and evaluate on that.  I've not had a chance to do that yet.

As for loading, it should load with TF 2.1/2/3 (I tried all of them) along with 1.15 as well.  I was load

[2020-12-01 18:21] Yuvaraj91 opened #71 "Cannot load pretrained weights"
I am trying  to load the pretrained weights
` model.m.load_weights('ResCNN_triplet_training_checkpoint_265.h5', by_name=True)`

but i get this error: AttributeError: 'str' object has no attribute 'decode'. I have installed the same versions for all libraries, and tried some workarounds after googling. Anyone faced and managed to fix this issue?

[2020-12-02 05:08] philipperemy commented on #71
@Yuvaraj91 it's a regression in `h5py`: https://github.com/tensorflow/tensorflow/issues/44467.
Solution is to run `pip install 'h5py < 3.0.0'`.
I updated the requirements.

[2020-12-02 06:52] demonstan commented on #62
May I ask why not using EarlyStopping and ReduceLROnPlateau call back here?
https://github.com/philipperemy/deep-speaker/blob/774279669745888b58f3a6e9ce4c3db295932b5b/train.py#L40-L42

[2020-12-02 08:16] philipperemy commented on #62
@demonstan they could be used indeed. It's just that I always saw the loss decreasing steadily and I didn't think it was a necessity. Overfitting on this dataset would have been a pretty big challenge. The loss looked like an exponentially decreasing function on both the training and testing sets.

[2020-12-30 15:39] #71 closed

[2020-12-30 15:39] #69 closed

[2021-01-03 09:31] philipperemy commented on #65
So I had a look and it's just in the initialization. It does not slow down the training speed as it is run only once. So no problem ;)

[2021-01-03 09:31] #65 closed

[2021-01-03 09:31] philipperemy commented on #63
I'll close this issue for inactivity. Please re-open it if you have something new!

[2021-01-03 09:31] #63 closed

[2021-01-26 16:28] 1shershah commented on #62
It may also be helful to use SOX to remove silence and background noise. That's what i usually do. Denoise and split by silence and then compute embeddings.

[2021-01-26 23:17] philipperemy commented on #62
Good point.

[2021-01-27 21:02] taalua opened #74 "average embeddings"
Hi, thanks for the code.
How to average embeddings?
I follow this code in previous issues, but it won't sum to 1.0 after np.mean.

def embedding_average(path, model):
    audio_list = os.listdir(path)
    sum = []
    for idx, audio in enumerate(audio_list):
        tmp = get_per_speaker_embedding(path + '/' + audio, model)
        sum.append(tmp)
    return np.mean(sum, axis=0)

[2021-01-27 23:11] philipperemy commented on #74
@taalua it should not sum to 1. Embeddings are defined on a hypersphere where their L2 norm is 1.

![image](https://user-images.githubusercontent.com/4516927/106066125-a2608300-613f-11eb-86cb-87198f31cf87.png)

For every embedding (if I refer to the example in the README), the L2 norm computed by this function should be equal to 1:

[code]

When we train, the normalization is done here: https://gi

[2021-01-28 01:39] taalua commented on #74
Thanks for quick reply!

[2021-01-28 01:40] #74 closed

[2021-01-28 10:08] mocaibupt opened #75 "Error：SyntaxError: invalid syntax"
when i use:
`python example.py`
The terminart:
[code]
I think it's perssmision question.So I use:
`sudo python example.py`
but there incur:
[code]

[2021-01-28 13:02] philipperemy commented on #75
Use python3.6 or above.

[2021-01-29 05:32] #75 closed

[2021-01-29 07:55] mocaibupt commented on #75
I used python3.7，I don't know why。I have searchen it in web before I ask it ,but there are no correct solution.So Can you give me some guide?Thanks very much.

[2021-01-29 08:38] philipperemy commented on #75
@mocaibupt sorry I didn't see your first error. I updated the `requirements.txt`.

It means that scipy 1.6.0 has a bug. So either run:

[code]

Or downgrade scipy:
[code]

[2021-02-24 06:51] mocaibupt commented on #75
I am sorry to interupt you again.I am the project master student.I haven't been exposed to voiceprint recognition before, but now I apply a voiceprint recognition to my graduation project。

I want to know something about the ResCNN Softmax+Triplet trained model：

1.The different between ResCNN and ResNet（I know what is CNN and what is ResNet,but I do not know ResCNN)

2. Is the Triplet mean Triple

[2021-02-24 06:59] philipperemy commented on #75
1. ResCNN = Residual CNN = ResNet + Convolutional layers (it is a mix).
2. Yes Triplet means Triplet Loss.

[2021-04-01 09:24] wenku1992abc opened #77 "pretraind model cannot download"
https://drive.google.com/file/d/1F9NvdrarWZNktdX9KlRYWWHDwRkip_aP.

we cannot visit this link~  do you have any other method to vist?

[2021-04-01 11:50] philipperemy commented on #77
What do you suggest?

[2021-04-01 12:24] philipperemy commented on #77
![image](https://user-images.githubusercontent.com/4516927/113293351-9c01a980-9330-11eb-8458-9d4f437980b5.png)

https://www.weiyun.com/

Can you access?

[2021-04-02 03:36] wenku1992abc commented on #77
yes,i can
thanks very very much!

[2021-04-02 04:42] philipperemy commented on #77
Great!

[2021-04-02 04:42] #77 closed

[2021-04-02 07:38] wenku1992abc opened #78 "RuntimeError: cannot join current thread"
user9@puser-DGX-Station:/raid/user9/workspace/ASR/SpeakerVerification/deep-speaker-master$ CUDA_VISIBLE_DEVICES=2,3 python cli.py build-keras-inputs --working_dir "/raid/user9/workspace/ASR/SpeakerVerification/deep-speaker-master/pre-training/"
Using TensorFlow backend.

Converting to Keras format [train]:  25%|█████████████████████████▋

[2021-04-02 08:10] philipperemy commented on #78
@wenku1992abc I've never seen this error before.

[code]

But If I can bet, I'd say your folder `/raid/user9/workspace/ASR/SpeakerVerification/deep-speaker-master/pre-training/` should contain something.

[2021-04-02 08:49] wenku1992abc commented on #78
how i check if something is containted in **pre-training/** folder?
I want to train a  mandarin voiceprint recognition model
so i used chinese corpus :_magicdata_ to generate the **pre-training/** folder

the _magicdata_ is .wav format
so i revised code in audio.py (line 41 42 )change ext='flac' to ext='wav'
and label also is changed to fit _magicdata_ datasets
the  **pre-training/** folder finish

[2021-04-02 08:53] philipperemy commented on #78
Yes, you have to change to WAV extension. WAV or FLAC is the same thing, just FLAC is the uncompressed WAV.
I don't remember in details. I would need to check the code again.

If you don't want to change the code to WAV you can also do that:

[2021-04-02 09:00] wenku1992abc commented on #78
thanks!
i will check if something is containted in pre-training/ folder.

[2021-04-02 09:48] wenku1992abc commented on #78
@philipperemy
checked out !
it was one speaker whose recording just only one wav ~
i picked it out ,and code run normaly

the same as the last one speaker ,there is also another speaker met the same issue(only one wav~)
so i stop code ,picked out one speaker...
stop code ,picked out one speaker...
haha
if i can  i will add some code to pick it out  automatically

[2021-04-03 01:22] philipperemy commented on #78
@wenku1992abc Great! Happy to hear. Yes, the code is not very robust. I implemented it for LibriSpeech (500 utterances per speaker at least). Please add a fix if you have time. Xie xie~

[2021-04-03 01:22] #78 closed

[2021-04-07 02:31] wenku1992abc opened #79 "Is the training process normal?"
![image](https://user-images.githubusercontent.com/33471245/113801707-f9ac5080-978b-11eb-8488-88afdf20398d.png)

is it overfitting?
the train dataset loss decrease quickly,but the val_loss even no change.
as shown in the picture
@philipperemy

[2021-04-07 05:39] wenku1992abc commented on #79
![image](https://user-images.githubusercontent.com/33471245/113815937-8c59e900-97a6-11eb-843c-51d90cab3cd7.png)
then,early stopping itself.

[2021-04-07 07:07] wenku1992abc opened #80 "ValueError: Cannot take a larger sample than population when 'replace=False'"
hi,sorry to bother you again~

when i run :_python cli.py train-model --working_dir "${TRIPLET_TRAINING_WORKING_DIR}"_

there is such error:

- Traceback (most recent call last):
-   File "cli.py", line 101, in <module>
-     cli()
-   File "/home/user9/anaconda3/lib/python3.7/site-packages/click/core.py", line 722, in __call__
-     return self.main(*args, **kwargs)
-   File "/home/user9/anaconda

[2021-04-07 08:04] philipperemy commented on #79
@wenku1992abc yes it looks like you overfitted a bit your data. Your accuracy is 99.18% and your validation accuracy is around 90%. That's why the early stopping kicked in. The model is very big so it requires a lot of data. However, I guess your training is completed. An accuracy of 90% or above can be acceptable if you train from scratch of many many speakers. If you have more data, use it!

[2021-04-07 08:04] philipperemy commented on #79
@wenku1992abc yes it looks like you overfitted a bit your data. Your accuracy is 99.18% and your validation accuracy is around 90%. That's why the early stopping kicked in. The model is very big so it requires a lot of data. However, I guess your training is completed. An accuracy of 90% or above can be acceptable if you train from scratch of many many speakers. If you have more data, use it!

[2021-04-07 08:04] philipperemy commented on #79
@wenku1992abc yes it looks like you overfitted a bit your data. Your accuracy is 99.18% and your validation accuracy is around 90%. That's why the early stopping kicked in. The model is very big so it requires a lot of data. However, I guess your training is completed. An accuracy of 90% or above can be acceptable if you train from scratch of many many speakers. If you have more data, use it!

[2021-04-07 08:06] philipperemy commented on #80
Ah seems like your data is incomplete. You probably have some speakers which contain only one or two utterances and that's why it fails. On the datasets, I was training on, each speaker had like 500 utterances.

[code]
You can add to understand:

[code]

[2021-04-07 09:27] wenku1992abc commented on #79
thanks your reply！
by the way 1080 speaker is it less?
@philipperemy

[2021-04-07 10:49] philipperemy commented on #79
LibriSpeech had 2484 speakers.

[2021-04-08 00:24] wenku1992abc commented on #79
ok,thanks !

[2021-04-08 00:24] #79 closed

[2021-04-12 09:48] wenku1992abc commented on #80
@philipperemy
i am sorry for taking a long time to reply to you !

thanks,I tried
it is 'train_utterances' who is null []
so i add lines in /raid/user9/workspace/ASR/SpeakerVerification/deep-speaker-master/batcher.py Line 165
[code]
but new error occurs:

by the way ,when i train triplet,why no need to change the data to keras input?

[2021-04-12 09:49] wenku1992abc commented on #80
pip uninstall -y tensorflow && pip install tensorflow-gpu
./deep-speaker download_librispeech    # if the download is too slow, consider replacing [wget] by [axel -n 10 -a] in download_librispeech.sh.
./deep-speaker build_mfcc              # will build MFCC for softmax pre-training and triplet training.
.**/deep-speaker build_model_inputs      # will build inputs for softmax pre-training.**
./deep

[2021-04-12 11:01] philipperemy commented on #80
[code]

It seems like we want to have 640 speakers with 512 embeddings each. In your code, you might not have 640 speakers. That's maybe why you have this error?

The keras input was only used for the softmax-pretraining. The triplet generates inputs in real time.
`/deep-speaker build_model_inputs` only builds input for softmax pre-training yes.

In 2018/2019, Keras did not have the support of tri

[2021-04-13 02:17] wenku1992abc commented on #80
@philipperemy
ok, thanks,i will check it out

[2021-04-19 14:40] EhsanAlahi opened #81 "Different source of audio"
The model works fine on audio samples recorded from the same device ( headset) but when I calculate the embedding similarity of two audio samples recorded with different devices ( clear background/ no noise ), the model fails badly.  I am looking for a suggestion on how to handle this issue. can we add some preprocessing stage for these audio samples?
Thanks and Regards.

[2021-04-20 00:58] philipperemy commented on #81
@EhsanAlahi, try to match as much as possible the audio the model was trained on (clear speech LibriSpeech).
That means absolutely no noise, distortion, or background noise. What we should ideally is retraining the model by adding more noise but that's not easy. In your case, use VAD (Voice Activity Detection) as pre-processing and only select the parts that have clear speech. Strip the blank and

[2021-06-03 23:59] #81 closed

[2021-06-03 23:59] #80 closed

[2021-06-14 12:19] Szyzapor opened #82 "Wrong number of layers while doing triplet training after softmax pre-training"
Hi, I' ve got a question about triplet + softmax pre-training. When I am using only softmax or triplet training everything works perfectly, but when I am trying to do softmax pre-training and then triplet training I am seeing such an error:

_ValueError: You are trying to load a weight file containing 58 layers into a model with 57 layers._

How I should do pre-training to avoid this error? Or sho

[2021-06-14 16:23] philipperemy commented on #82
@Szyzapor that looks weird to me it should have worked nicely. The fact that it's expecting 58 instead of 57 is probably because we remove the softmax layer before pre-training with the triplets. Maybe:

[code]

will work. If it's not already the case.

[2021-07-14 03:14] shengzhang0222 opened #85 "LazyTripletBatcher configuration"
Hi, I have some question about LazyTripletBatcher configuration.
self.nb_per_speaker = 2
self.nb_speakers = 640
self.history_length = 4
self.history_every = 100
I'm training deep-speaker model on my own dataset, maybe I need to know what these parameters mean.
Thanks.

[2021-07-29 11:33] zabir-nabil opened #86 "transfer learning with pretrained models: is pre-training needed with new data?"
Hi @philipperemy ,
thanks for sharing this awesome repository.

I'm training on your pretrained triplet loss model with my data, should I run the pretraining again or I can just train in triplet setup with a smaller learning rate?

[2021-07-30 01:50] zabir-nabil commented on #86
I'm training without pretraining with Adam (lr = 0.0001) right now, it may take few days to train.

[2021-07-30 10:52] philipperemy commented on #86
@zabir-nabil probably triplet training should be enough! The softmax training is just a pre-training.
If it takes too long you can try to increase the LR a bit. But if you see your loss going up and down, revert it to the default one!

[2021-08-03 13:55] #86 closed

[2021-08-03 14:06] philipperemy commented on #85
@shengzhang0222 you don't need to change those parameters. Those are internal.

[2021-08-03 14:15] philipperemy commented on #85
We use a history (buffer) of triplets to train/test our models. And every `history_every=100` batches, we re-generate the history (buffer). In your case, I'd say you just need to update the nb_speakers. `history_length=4` controls how big your buffer is. `nb_speakers` is just the number of speakers you want to select from all the speakers. `nb_per_speaker`  is just a constant and you don't need to

[2021-08-03 14:15] #85 closed

[2021-08-03 14:17] philipperemy commented on #82
@Szyzapor when you have time please provide more details. I'll close it for now

[2021-08-03 14:17] #82 closed

[2021-08-03 14:18] philipperemy commented on #62
Linked to the README for reference.

[2021-08-03 14:18] #62 closed

[2021-08-04 12:41] asr-lord opened #88 "Num of speakers"
What is the number of speakers used in ResCNN Softmax model? 921 or 2484?

![image](https://user-images.githubusercontent.com/83761777/128182266-dfdea152-b461-4132-9ba9-c81bc85ffa51.png)

![image](https://user-images.githubusercontent.com/83761777/128182311-09cb81bf-f86a-4a4f-86ed-0adfc42bad44.png)

[2021-08-04 13:08] philipperemy commented on #88
@asr-lord this is the number of speakers used in the pre-training with softmax. It's technically possible to train on more speakers with softmax but the philosophy of the paper was to pre-train the model first on m<N where N is the final number of speakers in the dataset. The main training (softmax+triplet training) uses all of them.

[2021-08-04 13:10] asr-lord commented on #88
It's clear now, thank you.

[2021-08-04 13:10] #88 closed

[2021-08-05 01:26] zabir-nabil commented on #86
Hi, @philipperemy I trained on multiple datasets, but I got even poor performance than your pretrained weight.
After training on dataset 1, I got merely this:
EER 1: 0.2744138634046891   EER 2: 0.27443267776096825   EER: 0.27442327058282867
EER threshold: 0.9836212992668152
Acc: 0.725700365408039

The interesting part is EER threshold is so high.

After training on dataset 2 + dataset 1, I even go

[2021-08-05 04:32] lhang33 commented on #88
I have tested the pre-training and the triplet-training this week. In my test, The pre-training part have create a BIG object named "KerasFormatConverter" which takes around 32GB RAM and 10GB GPU-RAM when training on 923 speakers. And when I train on  smaller numbers of speakers, the RAM usage drops quickly (which I think because of the softmax layer in the pretrain stage).
So, I think the paper u

[2021-08-05 06:41] asr-lord opened #89 "Problems to test-model with cli"
I get the following error when I try to test my trained model:
[code]

My libraries versions:
[code]

[2021-08-05 08:33] lhang33 opened #90 "pre-training optimization for RAM"
I have tested the softmax pre-training phase. I see the process contains all input data in the memory, which takes about 30GB in RAM.
I wonder if there is a way to optimize it? for example, split the the mega file, "kx_train.npy" into pieces, and then read it by the generator? If this problem is solved, we can do pre-training on much larger dataset (maybe 5000 speakers, etc ) and maybe the perform

[2021-08-05 08:49] philipperemy commented on #90
@lhang33 yeah it's using vanilla keras and keras is not really optimized. It requires twice the amount of the data in memory when using the .fit() function. You are totally right here. Using a generator will solve the problem. When I did it here, I had a machine with 32GB of memory and I was also using 32GB of swap. So it was okay for me but I was reaching the limits of my system. There is a lot o

[2021-08-11 14:52] #90 closed

[2021-08-12 22:14] philipperemy commented on #89
@asr-lord hummm. First did the examples and the CLI work with the checkpoint I provided in the README (with your python configuration)?

[2021-08-17 07:21] Adarsh474532 opened #91 "how to save enroll file in encrypted mode and decrypted for matching how ?"

[2021-08-17 07:58] philipperemy commented on #91
I don't understand your question. Can you reformulate it?

[2021-08-17 08:27] Adarsh474532 commented on #91
ok,
import pyaudio
import wave
import cv2
import os
import pickle
import time
from scipy.io.wavfile import read
from IPython.display import Audio, display, clear_output

FORMAT = pyaudio.paInt16
CHANNELS = 2
RATE = 44100
CHUNK = 1024
RECORD_SECONDS = 15
FILENAME = "D:/trs/deep-speaker-master/Database/Candiate_22/enroll.wav"

audio = pyaudio.PyAudio()

    # start Recording
stream = audio.open(form

[2021-08-17 08:29] Adarsh474532 commented on #91
i am saving the file in enroll.wav and in the verification time match the enroll.wav and test.wav.
 My question is how to save enroll.wav in any db and verified time fetch the same format.

[2021-08-17 08:57] Adarsh474532 commented on #91
like voice print file save anywhere and decrypt for matching.

[2021-08-18 07:38] zabir-nabil opened #92 "impact of using delta, trim_silence in training"
HI,
I see you removed the delta features and trimming silence from the training code. Did you experiment with that? Is it worth it using them?

[2021-08-19 13:04] philipperemy commented on #92
@zabir-nabil I don't think they were using it in the paper. That's why I removed them. I haven't tried to see if it had any value but I can bet it does.

[2021-08-21 08:06] philipperemy commented on #91
@Adarsh474532 I'm not sure I understand your question.

[2021-08-22 20:00] philipperemy commented on #92
Trimming silence is a must I guess. I think it's done in the code (with a simple VAD technique)

[2021-08-29 07:48] #92 closed

[2021-08-29 07:48] #91 closed

[2021-08-31 10:29] asr-lord commented on #89
In both cases didn't work: with the checkpoint and with my trained model.

[2021-08-31 10:30] philipperemy commented on #89
@asr-lord can you paste all the commands to reproduce the issue?

[2021-09-01 08:28] asr-lord commented on #89
[code]

[2021-09-01 16:36] philipperemy commented on #89
Thank you

[2022-01-12 08:13] philipperemy commented on #89
@asr-lord sorry for the late reply. There's definitely something. You are right. I'm trying to find a way to fix it.

[2022-01-12 08:16] philipperemy commented on #89
Okay that's a tensorflow issue. If you use `tensorflow==2.3` it works.

[2022-01-12 08:21] philipperemy commented on #89
I will close this issue and mention it in the README.

[2022-01-12 08:21] #89 closed

[2022-03-26 10:34] jinny1208 opened #93 "Embedding/Identifying a speaker talking in a different language with pretrained model"
Hi, I am in the middle of reading your paper and studying your code so I may be asking an irrelevant question, but
is it possible to create a speaker embedding from a speaker that is talking in a different language using your pretrained model?

Thanks in advance

[2022-03-28 00:38] philipperemy commented on #93
Hey, results will be much better in english. If you want to use it in a different language, you have to re-train it.

[2022-04-04 03:06] #93 closed

[2022-04-13 17:24] TonyB22 opened #94 "How to compute between model and audo file ?"
Hello ,

This example compute just between 2 audio files  .

But what if I want to train model with 5 audio files that belongs to 1 speaker, and then just check another audio file with this speaker ?

I mean , I just want to compute 1 audo file with speaker ID that already exists in model

Please help !
Thanks
Tony

[2022-04-13 23:39] philipperemy commented on #94
Hello,

You can't train the model with just one speaker.

The model was trained with thousands of speakers. The idea is that you don't really need to train another model. But it was trained on english so if you want to use any other language, you might have to re-train it on a large dataset.

The example compares 2 audio files. You can always compare one audio file with many others. Like 1 and 5.

[2022-04-14 00:11] TonyB22 commented on #94
Dear Philip ,

Thank you very much for your answer .

if you don't mind, I would like to ask one more question

For example I have trained a new model on another language with thousands of speakers.

One of this speakers is Bob with 5 wav files.

1.wav  = 30seconds
2.wav  = 30seconds
3.wav  = 30seconds
4.wav  = 30seconds
5.wav  = 30seconds

After I have built model , I have received one more Bob's

[2022-04-14 04:18] philipperemy commented on #94
It will always be more precise to compare unknown.wav with 1.wav,2.wav,3.wav,4.wav,5.wav.

Even though the model was trained on Bob, 6.wav was never seen by the model (during training). So the error may be slightly higher (not always the case but almost surely).

Ideally, it should be the same (6.wav or using 1/2/3/4/5.wav). Your intuition is right. But in practice, using data from the training se

[2022-04-18 01:23] TonyB22 commented on #94
Thank you very much for your answers !

If you don't mind , I would like to ask 2 more questions .

1) What is the best length for audio file to train to get best results ? I mean , how much seconds should be audio files that I am planning to train ?

2) Also , what is the best length to check 2 files ? how much seconds should be audio files for checking to get the best results ?

[2022-04-18 06:54] philipperemy commented on #94
@TonyB22 the model was trained on this dataset: http://www.openslr.org/12.

Here is an example: https://github.com/philipperemy/deep-speaker/blob/master/samples/1255-90413-0001.flac.

This one is 7-second long. But I think anything between 3 and 7 should work well. 1 second might be too short.

To check between 2 files, it's better that they match the same duration as the ones the model was traine

[2022-04-20 19:19] TonyB22 commented on #94
Dear Philip,
Thank you very much for you answers . You are very kind.

I would like to ask my last question .

For example I have audio file with 30 seconds duration

First 10 seconds speaks Tom
Second 10 seconds speaks Bob
Third 10 seconds speaks John

I would like to make "Speaker Diarization" and cut this audio file to 3 parts .

Can you please advice me any project for doing this job ? with ex

[2022-04-21 00:03] philipperemy commented on #94
@TonyB22 happy to hear that!!

I implemented a paper about speaker change detection: https://github.com/philipperemy/speaker-change-detection.

But it's less "ready to use" than this deep speaker repository.

However with a bit of tweaking, it should do the job. I can provide some help if needed.

Good luck!

[2022-04-21 21:17] TonyB22 commented on #94
@philipperemy Thank you very much !

I have already started download process and will start training process soon ..

I will come back to you once I will finish train process ..

But I see there is no example codes for checking speaker change . Where can I find example codes ?

In Speaker Verification project you have example codes and that is perfect !

Thank you !

[2022-04-21 23:48] philipperemy commented on #94
@TonyB22 yeah the speaker detection project is more experimental/research focused. It is less "ready to use".

[2022-04-25 02:02] #94 closed

[2022-06-15 08:02] kli017 commented on #80
@wenku1992abc hello have you solved this problem? I met the same error when I train on CN-Cele Dataset

[2022-06-16 11:59] philipperemy commented on #80
@kli017 `Cannot take a larger sample than population when 'replace=False'` if you get this error, that means your data is not properly loaded. The python script does not see any files.

[2022-06-17 01:27] kli017 commented on #80
@philipperemy Thanks for the remind! I checked the data and found there some speaker only have 1 audio file and cause this problem.

[2022-06-17 19:14] philipperemy commented on #80
@kli017 great to hear

[2022-08-12 03:56] WisamAbbasi opened #95 "Model Testing Issue"
Hello,

Thanks for this great project, but testing the code using the line wrote in the description produces below error:

  File "cli.py", line 99, in <module>
    cli()
  File "/home/wisam/.local/lib/python3.8/site-packages/click/core.py", line 1130, in __call__
    return self.main(*args, **kwargs)
  File "/home/wisam/.local/lib/python3.8/site-packages/click/core.py", line 1055, in main
    rv

[2022-08-12 09:22] philipperemy commented on #95
Look like the new version of Keras is no longer supported.
Can you try with `keras== 2.3.1` and `tensorflow== 2.3`? Or older versions of Keras/TF?
Just to see if you still have the issue.

[2022-08-12 10:56] WisamAbbasi commented on #95
I have updated the versions of the libraries, but I still get the below error, I think it is related to the data:

2022-08-12 12:52:17,046 - INFO - Picking audio from C:\Users\wisam\Desktop\deep-speaker-master\.deep-speaker-wd\triplet-training.
Initializing the batcher:   0%|                                                                                                                  | 0/4 [00:

[2022-08-12 14:35] philipperemy commented on #95
@WisamAbbasi try to run the examples in the README. Does it work? Let's start with that first.

[2022-09-26 12:25] philipperemy commented on #95
Likely to be a dataset issue. You have to scrupulously follow the same dataset structure as the one described in the README. Later, we should probably make it more user friendly.

[2022-09-26 12:25] #95 closed

[2022-10-17 15:48] Franek18 opened #98 "ValueError: "Tensor is not an element of this graph" when using TripletBatcherMiner during Triplet training"
Hi,
instead of using LazyTripletBatcher I tried to use TripletBatcherMiner, which is implemented in batcher.py, because it is recommended during Triplet training to use online mining. But I struggle with the following error:

which occures during executing this line of code in class TripletBatcherMiner:
`loss = self.model.m.evaluate(bx, by, batch_size=batch_size, verbose=0)`

I don't understand wh

[2022-10-17 18:51] Franek18 commented on #98
I am using

- Python 3.8.13
- keras==2.9.0
- tensorflow-gpu==2.9.1

[2022-10-18 01:36] philipperemy commented on #98
@Franek18 It seems like this `TripletBatcherMiner` is using a `Loss` that is not part of the current model / checkpoints. It is probably something that was used in the past but has not been updated with the latest model code.

[2022-10-18 14:14] Franek18 commented on #98
@philipperemy Thank for your answer. `TripletBatcherMiner` doesn't make any modifications in the model.
The code of this pipeline is as follows:
I am using original code for training with Triplet loss in file train.py:
[code]
The code of this function is as follows:
[code]
And the code of the TripletBatcherMiner is as follows:
[code]
Of course BatcherMiner is working on Keras Inputs instead of aud

[2022-10-19 03:08] philipperemy commented on #98
I'll take more time to answer you later but for the model I did one training with a softmax (pre-training) and a second training on top of it to select the hard examples to lower the loss even more. It was the methodology described in the paper. What is `LazyTriplet` doing? I forgot.

[2022-10-19 09:32] Franek18 commented on #98
`LazyTriplet` is only using a model during the initialization of it's object to evaluate triplet's pairs before the training. So it's evaluation is TBH completely useless and that's why I would like to use online mining.
What do you exactly mean by `selecting hard examples`? Did you do it with a class `TripletBatcherSelectHardNegatives` or in a different way?
Regards

[2022-10-19 13:50] philipperemy commented on #98
I read the code again. So `LazyTriplet` keeps a history buffer that is updated every X epochs during training. And it seems like, in this history buffer, the best triplets are selected based on the cosine similarity (get_batch_train). I am pretty sure that's the batcher used in the last training. The loss EER was 0.043 with just pre-training and went down to 0.025 with this batcher. Lazy just mean

[2022-11-03 10:18] #98 closed